@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antic Slab", serif;
  letter-spacing: 1px;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fafafa;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 2vw;
  background-color: transparent;
  z-index: 9;
  width: 100%;
  /* position: fixed; */
}

nav h1 {
  font-size: 3.2vw;
  color: #500000;
}

nav form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

form input[type="text"] {
  flex-grow: 1;
  outline: none;
  border: 0.5px solid #500000;
  border-radius: 50px;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  color: #500000;
}

form button {
  padding: 0.5vw 1vw;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: #500000;
  color: #fff;
  cursor: pointer;
}

.recipe-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;
  width: 80%;
  margin: 1vw auto;
  padding: 1vw;
  place-items: center;
}

.recipe-container h2 {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  margin-top: 1vw;
  color: #500000;
}

.recipeDiv {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  max-width: 350px;
  padding: 1vw;
}
.recipeDiv:hover {
  transform: scale(1.03);
}

.recipeDiv h3 {
  margin-top: 0.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #500000;
}

.recipeDiv p {
  font-size: 1.1vw;
  margin-top: 0.5vw;
  color: #500000;
  opacity: 0.9;
}

.recipeDiv button {
  padding: 0.5vw 1.2vw;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: #500000;
  color: #fff;
  cursor: pointer;
  margin: 1vw auto 0.5vw;
}

.recipeDiv img {
  height: 350px;
}

.recipe-detail {
  padding: 2vw 2vw;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  width: 40%;
  height: 60%;
  color: #500000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow-y: scroll;
}
.recipe-detail .recipeName {
  font-size: 1.5vw;
  margin: 1vh 0;
  text-align: center;
}
.recipe-detail .ingredients,
.instructions {
  font-size: 1vw;
  margin: 1vh 0;
}

.recipe-detail .recipeInstruction,
li {
  font-size: 1vw;
  text-align: justify;
  line-height: 4vh;
}

.recipe-detail .closeBtn {
  border: none;
  background-color: transparent;
  outline: none;
  background-color: #500000;
  height: 1.8vw;
  width: 1.8vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 3%;
}

.closeBtn i {
  color: #fff;
}

/* Generated by chatgpt */
@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
    gap: 2vw;
  }
  nav h1 {
    font-size: 5vw;
  }

  header nav form {
    width: 90%;
  }

  form input[type="text"] {
    font-size: 2vw;
    padding: 1vw 2vw;
  }

  form button {
    font-size: 2vw;
    padding: 1vw 2vw;
  }
}

@media screen and (max-width: 600px) {
  nav h1 {
    font-size: 6vw;
  }

  form input[type="text"] {
    font-size: 3vw;
    padding: 1.5vw 2.5vw;
  }

  form button {
    font-size: 3vw;
    padding: 1.5vw 2.5vw;
  }
}

.recipe-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;
  width: 80%;
  margin: 1vw auto;
  padding: 1vw;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .recipe-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.recipe-container h2 {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  margin-top: 1vw;
  color: #500000;
}

@media screen and (max-width: 768px) {
  .recipe-container h2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .recipe-container h2 {
    font-size: 4vw;
  }
}

.recipeDiv {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
  scale: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  max-width: 350px;
  padding: 1vw;
}

@media screen and (max-width: 768px) {
  .recipeDiv {
    padding: 2vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .recipeDiv {
    padding: 3vw;
    max-width: 100%;
  }
}

.recipeDiv h3 {
  margin-top: 0.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #500000;
}

@media screen and (max-width: 768px) {
  .recipeDiv h3 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .recipeDiv h3 {
    font-size: 3vw;
  }
}

.recipeDiv p {
  font-size: 1.1vw;
  margin-top: 0.5vw;
  color: #500000;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .recipeDiv p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .recipeDiv p {
    font-size: 2vw;
  }
}

.recipeDiv button {
  padding: 0.5vw 1.2vw;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: #500000;
  color: #fff;
  cursor: pointer;
  margin: 1vw auto 0.5vw;
}

@media screen and (max-width: 768px) {
  .recipeDiv button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
  }
}

@media screen and (max-width: 600px) {
  .recipeDiv button {
    font-size: 2vw;
    padding: 1.5vw 3vw;
  }
}

.recipeDiv img {
  height: 350px;
}

@media screen and (max-width: 768px) {
  .recipeDiv img {
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .recipeDiv img {
    height: 200px;
  }
}

.recipe-detail {
  padding: 2vw 2vw;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  width: 40%;
  height: 60%;
  color: #500000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .recipe-detail {
    width: 80%;
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .recipe-detail {
    width: 90%;
    height: 80%;
  }
}

.recipe-detail .recipeName {
  font-size: 1.5vw;
  margin: 1vh 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .recipe-detail .recipeName {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .recipe-detail .recipeName {
    font-size: 3vw;
  }
}

.recipe-detail .ingredients,
.instructions {
  font-size: 1vw;
  margin: 1vh 0;
}

@media screen and (max-width: 768px) {
  .recipe-detail .ingredients,
  .instructions {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .recipe-detail .ingredients,
  .instructions {
    font-size: 2vw;
  }
}

.recipe-detail .recipeInstruction,
li {
  font-size: 1vw;
  text-align: justify;
  line-height: 4vh;
}

@media screen and (max-width: 768px) {
  .recipe-detail .recipeInstruction,
  li {
    font-size: 1.5vw;
    line-height: 3vh;
  }
}

@media screen and (max-width: 600px) {
  .recipe-detail .recipeInstruction,
  li {
    font-size: 2vw;
    line-height: 2.5vh;
  }
}

.recipe-detail .closeBtn {
  border: none;
  background-color: transparent;
  outline: none;
  background-color: #500000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  cursor: pointer;
}

.closeBtn i {
  color: #fff;
  font-size: 1.2vw;
}

@media screen and (max-width: 768px) {
  .closeBtn i {
    font-size: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .closeBtn i {
    font-size: 2vw;
  }
}
